@using ForumDemo.Models.DTO
@model List<ForumThemeDto>
@{
    ViewBag.Title = "My themes";
}

<h2>My themes</h2>

<ul class="list-group">
    @foreach (var theme in Model)
    {
    <li class="list-group-item">
        @theme.Title (@theme.Description) - @Html.ActionLink("Detail", "Detail", new { id = theme.Id })
        @*@using (Html.BeginForm("Delete", "Themes", new { id = theme.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button type="submit">Remove</button>
        }*@
    </li>
    }
</ul>